/*dataserf.css*/


.thumbnail {
	padding: 30px;
	padding-top: 20px;
	padding-bottom:20px;
	background-color: white;
	
}

.hero-unit {
	padding-top: 40px;
	padding-bottom: 40px;
}

label {
  font-size: 16px;
}

.thumbnail p {
  font-size: 16px;
  font-weight: 180;
  line-height: 22px;
  color: inherit;
 
}

#upload-small, #manage-small, #modify-small, #download-small {
}

#upload, #manage, #modify, #download {
 	border: 1px solid #DDDDDD;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#upload-small {
	background-color: #FFCCCC;
	border: 1px solid #EEBBBB;
}

#upload {
	background-color: #FFEEEE;
	border-color: #EEBBBB;
}


#manage-small {
	background-color:#FFFFBB;
	 border: 1px solid #EEEEAA;
}

#manage {
	background-color: #FFFFEE;
	 border-color: #EEEEAA;
}


#modify-small {
	background-color: #CCFFCC;
        border: 1px solid #BBEEBB;
}

#modify {
	background-color: #EEFFEE;
        border-color: #BBEEBB;
}


#download-small {
	background-color: #DDDDFF;
	border: 1px solid #CCCCEE;
}

#download {
	background-color: #EEEEFF;
	border-color: #CCCCEE;
}

h{
	color:#333333;
}

h1 {
	font-family: 'Rye', cursive;
}


.brand {
	font-family: 'Rye', cursive;
}

.nav {
	font-size: 14pt;
	font-family: 'Gentium Book Basic', serif;
}

h2, h3{
	
font-family: 'Gentium Book Basic', serif;
}
.accordion-group {
	background-color: #FFFFFF;
}

a {
	color:#777777;
}

a.accordion-toggle {
	color: #555555;	
}


.accordion-heading {
	background-color: #EEEEEE;
}

footer {
	color: #AAAAAA;
	text-align: center;
	font-size: 12pt;
	font-family: 'Gentium Book Basic', serif;
}
