/*dataserf.css*/


.thumbnail {
	padding: 30px;
}

#upload-small, #manage-small, #modify-small, #download-small {
}

#upload, #manage, #modify, #download {
 	border: 1px solid #DDDDDD;
}

#upload-small {
	background-color: #FFCCCC;
	border: 1px solid #EEBBBB;
}

#upload {
	border-color: #EEBBBB;
}


#manage-small {
	background-color:#FFFFBB;
	 border: 1px solid #EEEEAA;
}

#manage {
	 border-color: #EEEEAA;
}


#modify-small {
	background-color: #CCFFCC;
        border: 1px solid #BBEEBB;
}

#modify {
        border-color: #BBEEBB;
}


#download-small {
	background-color: #DDDDFF;
	border: 1px solid #CCCCEE;
}

#download {
	border-color: #CCCCEE;
}


.accordion-group {
	background-color: #FFFFFF;
}

a {
	color:#777777;
}

a.accordion-toggle {
	color: #555555;	
}


.accordion-heading {
	background-color: #EEEEEE;
}

.hero-unit {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
}


